body{
	background-color: #700;
}
header{
	position: relative;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

#share-buttons img {
	width: 5%;
	padding: .5%;
	border: 0;
	box-shadow: 0;
	display: inline;
}

a.español{
	position: absolute;
	top:3%;
	left:72%;
	color: #999;
	font-size: 300%
}

.container {
	position: relative;
}

#infographic {
	width:80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#grads{
	width: 30%;
	position:relative;
	top:5%;
	left:5%;
}

#subContainer {
    display:block;    
	position: absolute;
	top:24%;
	left: 51%;
	width: 30%;
	height: 100%}

#heart{
	position: absolute;
	top:12%;
	width:28%;
}

#eye {
	display: block;
	position:absolute;
	width:23.2%;
	top:-3.5%;
}

#watch{
	display: block;
	position: absolute;
	width: 26.5%;
	top: 32%;
	left: 32%;
}